@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Nunito&display=swap');


/* ini: Preloader */
 
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffffff; /* cor do background que vai ocupar o body */
    z-index:9999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient( #8bb5f1, #f3f8ff, rgb(255, 255, 255));
}

header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.menuHidden{
    height: 100%;
    width: 0;
    position: fixed;
    z-index:12000;
    top: 0;
    left: 0;
    background: rgba(81, 145, 182, 0.829) ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    border-radius: 0 15px 15px 0;

}

.menuHidden a{
    padding: 18px 8px 18px 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
    letter-spacing: 3px;
    border-bottom: 1px solid white;
    white-space: nowrap;
}

.fa{
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: white;
}

.fa:hover{
    color: rgb(255, 123, 0);
    border-radius: 30px 0 0 30px ;
    transition: 0.5s;
    cursor: pointer;
}
.menuHidden a:hover{
    color: white;
    background-color: rgb(255, 123, 0);
    border-radius: 30px 0 0 30px ;
    transition: 0.5s;
    border: none;
}



.btnClose{
    position: absolute;
    top: 0;
    left:56%;
    font-size: 36px;
    margin-left:27%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btnClose:hover{
    color: rgb(255, 123, 0);
    transition: 0.5s;
}


#menu{
    position: absolute;
    left: 18px;
    transition: margin-left 0.5s;
    font-size:35px; 
    cursor:pointer; 
    color: rgb(255, 123, 0);
    -webkit-text-stroke: 1px white;
}

#menu:hover{
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgb(255, 150, 52);
    transition: 0.5s;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #052046, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.img-gif{
    position: relative;
    left: 9rem;
    bottom: 12rem;
    width: 200px;
    height: 220px;
}

section img#mountains_front{
    z-index: 10;
}

.map {
    z-index: 1000;
    width: 10rem;
    height: 10rem;
    position: fixed;
    right: 15px;
    bottom: 6rem;
   
}

.map > iframe{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid rgb(255, 123, 0);
}

.backgroun-perfil > .icon-perfil > img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.backgroun-perfil{
    position: relative;
    top: 12rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    background-color:rgb(81, 145, 182) ;
    border-radius:50% ;
    z-index: 1100;
}

.backgroun-perfil-name{
    position: relative;
    top: 10rem;
    width: 165px;
    height: 25px;
    border-radius: 50px;
    background-color:rgb(81, 145, 182) ;
    padding-left: 2.5rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 3px;
}

#text{
    position: absolute;
    right: -350px;
    color: rgb(255, 123, 0);
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9; 
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: rgb(255, 123, 0);
    font-size: 1.5rem;
    z-index: 9;
    position: relative;
    right: 1rem;
    top: 5rem;
    text-transform: uppercase;
}

#btn:hover{
    color: #fff;
    background: rgb(255, 123, 0);
    transition: 0.9s;
    transform: scale(1.1); 
}

.sec{
    position: relative;
    padding: 100px;
    background: #052046;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

/*estilizando o scroll*/

::-webkit-scrollbar{
    width: 16px;
    background-color: rgb(216, 216, 216);
    border: 3px solid rgb(204, 204, 204);
}

::-webkit-scrollbar-thumb{
    background-color:rgb(81, 145, 182);
    border-radius:50px;
    border: 2px solid rgb(176, 225, 253);
}
