@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Nunito&display=swap');

/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:  'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fim reset*/

.main{
    flex-direction: column;
    flex-wrap: wrap;

}

.imagens{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2% 0;
 
}
.imgLogo{
    width: 30%; 
    padding-top:8% ;
    filter: drop-shadow(-14px -5px 10px rgba(182, 67, 0, 0.479));
}

.img{
    width: 26%;
}


.button{ 
    justify-content: center;
    align-items: center;
    display: flex;
}

.button .btn {
    width: 24vw;
    height: 10vh;
    border: none;
    border-radius: 30px;
    outline: none;
    text-transform: uppercase;
    box-shadow: 0px 10px 40px -12px rgb(124, 101, 255),
    0px -10px 40px -12px rgb(100, 78, 226);
    background: linear-gradient(45deg, #B9E0FF,rgb(81, 145, 182),#8D72E1,#6C4AB6);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    cursor: pointer;
}

.button > a>.btn {
    color: white;
    font-weight: 800; 
    letter-spacing: 5px;
}

.button >a> .btn:hover{
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0px 10px 40px -12px rgb(101, 186, 255),
    0px -10px 40px -12px rgb(101, 186, 255);
    color: #6C4AB6;
    background: rgb(145, 216, 238);
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/*Preloader*/
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffffff; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}

@media only screen and (max-width: 1000px){
    
    .imagen > .img{
     left: 11px;
     width: 22.6rem;
 }
 .button .btn{
     width: 16rem;
     position: relative;
     left: 12px;
     bottom: 2px;
 }

}

